<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaveStoryEditor.Editor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaveStoryEditor.UI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CaveStoryEditor.Editor>
            <setting name="TileTypePath" serializeAs="String">
                <value>tiletypes.png</value>
            </setting>
        </CaveStoryEditor.Editor>
    </userSettings>
    <applicationSettings>
        <CaveStoryEditor.UI>
            <setting name="CursorColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="EntityBoxColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SelectedEntityBoxColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="SelectedTileColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ScreenPreviewColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </CaveStoryEditor.UI>
    </applicationSettings>
</configuration>